[
    {
        "scope": "https://api.contentstack.io:443",
        "method": "POST",
        "path": "/v3/content_types",
        "body": {
            "content_type": {
                "title": "foo3",
                "uid": "foo3",
                "description": "sample description",
                "options": {
                    "is_page": true,
                    "singleton": false
                },
                "schema": [
                    {
                        "display_name": "Title",
                        "uid": "title",
                        "data_type": "text",
                        "mandatory": true,
                        "unique": true,
                        "field_metadata": {
                            "_default": true,
                            "version": 3
                        },
                        "non_localizable": false,
                        "isDelete": false,
                        "isEdit": false
                    },
                    {
                        "display_name": "URL",
                        "uid": "url",
                        "data_type": "text",
                        "mandatory": true,
                        "unique": true,
                        "field_metadata": {
                            "_default": true,
                            "version": 3
                        },
                        "non_localizable": false,
                        "isDelete": false,
                        "isEdit": false
                    }
                ]
            }
        },
        "status": 201,
        "response": {
            "notice": "Content Type created successfully.",
            "content_type": {
                "created_at": "2021-09-07T21:03:18.695Z",
                "updated_at": "2021-09-07T21:03:18.695Z",
                "title": "foo3",
                "uid": "foo3",
                "_version": 1,
                "inbuilt_class": false,
                "schema": [
                    {
                        "display_name": "Title",
                        "uid": "title",
                        "data_type": "text",
                        "mandatory": true,
                        "unique": true,
                        "field_metadata": {
                            "_default": true,
                            "version": 3
                        },
                        "non_localizable": false,
                        "multiple": false
                    },
                    {
                        "display_name": "URL",
                        "uid": "url",
                        "data_type": "text",
                        "mandatory": false,
                        "unique": true,
                        "field_metadata": {
                            "_default": true,
                            "version": 3
                        },
                        "non_localizable": false,
                        "multiple": false
                    }
                ],
                "last_activity": {},
                "maintain_revisions": true,
                "description": "sample description",
                "DEFAULT_ACL": {
                    "others": {
                        "read": false,
                        "create": false
                    },
                    "users": [
                        {
                            "read": true,
                            "sub_acl": {
                                "read": true
                            },
                            "uid": "blt9228a34ebcbe7a3f"
                        }
                    ],
                    "management_token": {
                        "read": true
                    }
                },
                "SYS_ACL": {
                    "roles": [],
                    "others": {
                        "read": false,
                        "create": false,
                        "update": false,
                        "delete": false,
                        "sub_acl": {
                            "read": false,
                            "create": false,
                            "update": false,
                            "delete": false,
                            "publish": false
                        }
                    }
                },
                "options": {
                    "is_page": true,
                    "singleton": false,
                    "title": "title",
                    "url_pattern": "/:title",
                    "url_prefix": "/"
                },
                "abilities": {
                    "get_one_object": true,
                    "get_all_objects": true,
                    "create_object": true,
                    "update_object": true,
                    "delete_object": true,
                    "delete_all_objects": true
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Contentstack-Organization",
            "blt90f399a6ce838a5a"
        ],
        "responseIsBinary": false
    }
]