[
    {
        "scope": "https://api.contentstack.io:443",
        "method": "POST",
        "path": "/v3/content_types",
        "body": {
            "content_type": {
                "title": "foo3",
                "uid": "foo3",
                "description": "sample description",
                "options": {
                    "is_page": true,
                    "singleton": false
                },
                "schema": [
                    {
                        "display_name": "Title",
                        "uid": "title",
                        "data_type": "text",
                        "mandatory": true,
                        "unique": true,
                        "field_metadata": {
                            "_default": true,
                            "version": 3
                        },
                        "non_localizable": false,
                        "isDelete": false,
                        "isEdit": false
                    },
                    {
                        "display_name": "URL",
                        "uid": "url",
                        "data_type": "text",
                        "mandatory": true,
                        "unique": true,
                        "field_metadata": {
                            "_default": true,
                            "version": 3
                        },
                        "non_localizable": false,
                        "is[...]
    {
        "scope": "https://api.contentstack.io:443",
        "method": "GET",
        "path": "/v3/content_types/foo3",
        "body": "",
        "status": 200,
        "response": {
            "content_type": {
                "created_at": "2021-09-09T03:30:57.155Z",
                "updated_at": "2021-09-09T03:30:57.155Z",
                "title": "foo3",
                "uid": "foo3",
                "_version": 1,
                "inbuilt_class": false,
                "schema": [
                    {
                        "display_name": "Title",
                        "uid": "title",
                        "data_type": "text",
                        "mandatory": true,
                        "unique": true,
                        "field_metadata": {
                            "_default": true,
                            "version": 3
                        },
                        "non_localizable": false,
                        "multiple": false
                    },
                    {
                        "display_name": "URL",
                        "uid": "url",
                        "data_type": "text",
                        "mandatory": false,
                        "unique": true,
                        "field_metadata": {
                            "_default": true,
                            "version": 3
                        },
                        "non_localizable": false,
                        "m[...]
[...]
    {
        "scope": "https://api.contentstack.io:443",
        "method": "GET",
        "path": "/v3/content_types/foo100",
        "body": "",
        "status": 422,
        "response": {
            "error_message": "The Content Type 'foo100' was not found. Please try again.",
            "error_code": 118,
            "errors": {
                "uid": [
                    "is not valid."
                ]
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Contentstack-Organization",
            "bltmock9e992a923aafmock99a6ce838a5a"
        ],
        "responseIsBinary": false
    }
]