node_modules
.todo
.env
.dccache
logs
contents
lerna-debug.log
.DS_Store
contentTest
build
_backup*
oclif.manifest.json
.vscode
.nyc_output
contentstack-cli-logs
packages/**/package-lock.json
.dccache
yarn.lock
contents-*
*.http
*.todo